@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --blue: #a9c303;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}
[data-theme="light"] {
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
}

[data-theme="dark"] {
  --white: #111;
  --black: #fff;
  --grey: #888;
  --darkgrey: #e3e2e2;;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  background-color: var(--black);
  color: var(--white);
}

::selection {
  color: var(--white);
  background-color: var(--blue);
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 1rem;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  text-decoration: none;
}
.gotoTopBtn{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: var(--darkgrey);
  border: 1px solid var(--blue);
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
}
.gototopbtnIcon{
  color: var(--blue);
}

a{
  color: var(--white);
}
.sub-containers{
  background-color: var(--darkgrey);
  width: 90%;
  border-radius: 1.5rem;
  padding: 1rem 1rem;
  margin:0.8rem  auto;
}

.compare-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin:1.5rem 3.5rem;
}

@media only screen and (max-width: 800px) {
  .gotoTopBtn{
    right: 0.5rem;
    bottom: 0.5rem;

  }
  .compare-div{
    gap: 0.5rem;
    margin:1.5rem 1rem;
  }
}